
.row
  .col-md-12
    %nav.navbar
      %ul.nav.navbar-nav
        %li= link_to 'New User', new_user_path


    .page-header
      %h1 Users

    .panel.panel-default
      .panel-body
        %p.lead Filter by
        = form_tag({}, {class: ''}) do
          .row
            .col-md-2
              .form-group
                = label_tag :barcode, "Barcode"
                = text_field_tag :barcode, '', class: 'form-control'
            .col-md-1.or-cell
              ="- or -"
            .col-md-5
              .row
                .col-md-12
                  = label_tag :with, "With"
              .row
                .col-md-6
                  .form-group
                    = select_tag :with, options_for_select(@filter_with_options), class: 'form-control'
                .col-md-6
                  .form-group
                    = select_tag :check_type, options_for_select(@filter_check_types_options), class: 'form-control'

            .col-md-4
              .row
                .col-md-12
                  = label_tag :date_from, "Between dates"
              .row
                .col-md-6
                  .form-group
                    = text_field_tag :date_from, '', placeholder: 'From', class: 'form-control date-picker'
                .col-md-6
                  .form-group
                    = text_field_tag :date_to, '', placeholder: 'to', class: 'form-control date-picker'
            .row
            .col-md-12
              .form-group.text-center
                = submit_tag "Search", class: 'btn btn-primary'


      %table.table
        %thead
          %tr
            %th First name
            %th Last name
            %th Email
            %th.text-center Date of birth
            %th.text-center Confirmed
            %th.text-center Admin
            %th
            %th
            %th
            %th

        %tbody
          - @users.each do |user|
            %tr
              %td= user.first_name
              %td= user.last_name
              %td= user.email
              %td.text-center= user.date_of_birth
              %td.text-center
                %i.glyphicon{ class: "glyphicon glyphicon-#{user.confirmed? ? 'ok' : 'remove'}" }
              %td.text-center
                - if user.admin?
                  %i.glyphicon.glyphicon-ok
              %td= link_to 'History', user_history_path(user)
              %td= link_to 'Show', user
              %td= link_to 'Edit', edit_user_path(user)
              %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }


