.row
  .col-md-6
    %table.table
      %tbody
        %tr
          %th First name
          %td= @user.first_name
        %tr
          %th Last name:
          %td= @user.last_name
        %tr
          %th Email:
          %td= @user.email
        %tr
          %th Date of birth:
          %td= @user.date_of_birth
        %tr
          %th Admin:
          %td= @user.admin
        %tr
          %th Admin:
          %td= @user.admin

  .col-md-6

.row
  %nav.nav-bar
    %ul.nav.navbar-nav
      %li= link_to 'Edit', edit_user_path(@user)
      %li= link_to 'Back', users_path
